/* Project Section */
.project-section {
  max-width: 1200px;
  margin: 20px auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h2 {
  margin: 15px 0 5px;
}

.card p {
  margin: 5px 0;
  color: #555;
}

.icons {
  margin: 15px 0;
}

.icons i {
  font-size: 24px;
  margin: 0 5px;
  color: #555;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.card-buttons .edit {
  background-color: #ffc107;
  color: white;
}

.card-buttons .delete {
  background-color: #dc3545;
  color: white;
}

.card-buttons button:hover {
  opacity: 0.8;
}

/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
} */

h1 {
  margin: 0;
}

/* Project Detail Main Content */
.project-detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Image and Duration Info Section */
.image-and-info {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-and-info img {
  max-width: 350px;
  margin-right: 2px;
  border-radius: 8px;
}

.info-section {
  flex-grow: 1;
  margin-left: 10px;
}

.duration-info {
  margin-bottom: 20px;
}

.duration-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

.date-range,
.time-duration {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-range i,
.time-duration i {
  margin-right: 8px;
  color: #555;
}

/* Technologies Section */
.technologies {
  margin-bottom: 20px;
}

.technologies h2 {
  margin-bottom: 10px;
}

.technologies ul {
  list-style: none;
  padding: 0;
}

.technologies li {
  display: inline-block;
  background-color: #e9ecef;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

/* Description Section */
.description h2 {
  margin-bottom: 10px;
}

.description p {
  line-height: 1.6;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .image-and-info {
    flex-direction: column;
    align-items: center;
  }

  .image-and-info img {
    margin-bottom: 20px;
  }

  .info-section {
    text-align: center;
  }
}